* {
    font-family: 'Urbanist', sans-serif;
}

    /* NAVBAR */

    .btnNav{
        border-color: rgb(214, 156, 31);
        background-color: rgb(214, 156, 31);
    }
    .btnNav:hover{
        background-color: black;
        color:  rgb(214, 156, 31);
        border-color:rgb(214, 156, 31) ;
    }
    


 /* WELCOME.BLADE.PHP */

/* header */

header{
   background-color:  rgb(214, 156, 31);
   margin-top: 60px;
}

h1{
    
    /* border-bottom: 4px solid black;
    border-top: 4px solid black; */
    color: white;
}
.imgheader{
    height: 400px;
}

.par{
    margin-top: 20px;
    font-size: 21px;
    margin-right: 50px;
}
/* main */
.destinazioni{
    border-top:10px solid rgb(214, 156, 31);
border-bottom: 10px solid rgb(214, 156, 31);
}

/* botton main */
.ml{
    margin-left: 20%;
}


/* ASSICURAZIONI */
.backass{
    background-color:rgb(250, 250, 250) ;
}



/* CCONTATTI */
.mtcon{
    margin-top: 60px;
    border-bottom: 4px solid rgb(214, 156, 31) ;
    border-top: 4px solid rgb(214, 156, 31) ;
}

.mtimg{
    margin-top: 0px;
}

.ggcont{
    height: 0px;
    width: 150px;
    margin-top: 10px;

}
.ggcont1{
    margin-top: 150px;
    margin-right: 100%;
}

.mtcon1{
    height: 0px;
    width: 150px;
    margin-top: 10px;
}

.ltit{
    border-bottom: 4px solid rgb(214, 156, 31) ;
    border-top: 4px solid rgb(214, 156, 31) ;
    width: 200px;
}
/* container img */
.ggcont2{
    margin-top: 60px;
    
}
/* container img+titolo */
.ggcont3{
    margin-top: 60px;
}



/* FOOTER */
.btn:hover{
    background-color: black;
}
.btn{
   
    padding: 10px;
}

.icf{
   font-size: 25px;
}